* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Inter, sans-serif;
}

body {
    height: 100%;
    width: 100%;
}

img {
    height: 70px;
}

.firstnav {
    display: flex;
    flex-direction: row;
}

.name,
.nav2 {
    margin-top: 20px;
}

.nav3 {
    border-radius: 4px;
    background-color: blue;
    height: 30px;
    width: 120px;
}

.nav3 a {
    font-weight: bold;
    font-size: 15px;
    color: white;
}

.nav3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.nav3:hover {
    background-color: #a6abe6;
}

.nav2 {
    font-size: 14px;
    display: flex;
    gap: 1.5rem;
}

.align {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mainsection {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    gap: 2rem;
    padding: 0.6rem;
    margin: 0 auto;
}

.label {
    margin-top: 40px;
    color: rgb(19, 19, 157);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.contentleft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    animation: slidefromleft 1s ease forwards;
    opacity: 0;
}

@media screen and (min-width:768px) {
    .content {
        flex-direction: row;
    }
    .contentleft {
        align-items: start;
        gap: 2.5rem;
        padding: 2%;
        margin-left: 100px;
    }
    .contentright {
        margin-right: 100px;
    }
}

@keyframes slidefromleft {
    0% {
        opacity: 0;
        transform: translate(-100%);
    }
    100% {
        opacity: 1;
        transform: translate(0%);
    }
}

.about2 {
    font-weight: 400;
}

.maincontent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttons {
    display: flex;
    justify-content: left;
    gap: 2rem;
}

.buttons1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: blue;
    height: 30px;
    width: 120px;
}

.button2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: rgb(61, 61, 61);
    height: 30px;
    width: 120px;
}

.buttons1:hover {
    font-size: large;
    transition: 0.15s ease-in;
    background-color: rgb(141, 166, 246);
}

.button2:hover {
    font-size: large;
    transition: 0.15s ease-in;
    background-color: rgb(141, 166, 246);
}

.buttons1 a,
.button2 a {
    color: white;
    font-weight: bold;
}

.title {
    font-size: 2.5rem;
}

.contentright img {
    border-radius: 15px;
    box-shadow: 0px 4px 90px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 400px;
}

.contentright img:hover {
    transition: .15s ease-out;
    transform: scale(1.025);
}

.contentright {
    border-radius: 15px;
    box-shadow: 0px 4px 90px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 400px;
}

.description {
    color: rgb(73, 73, 73);
}

.companygrid {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.logocontainer {
    height: 4.5rem;
    width: 600px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(225, 225, 225);
    gap: 15px;
}

.mainlogocontainer {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.logo img {
    height: 10px;
}

.cardarea {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.cardsection {
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div1,
.div2,
.div3,
.div4,
.div5,
.div6 {
    height: 200px;
    width: 360px;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
}

.maingrid {
    display: flex;
    justify-content: center;
    height: 850 px;
    margin-top: 20px;
    background-color: rgb(242, 242, 242);
}

.cardheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;
    gap: 15px;
}

.div1 {
    background-color: #949cff;
}

.div2 {
    background-color: rgb(255, 210, 218);
}

.div3 {
    background-color: rgb(247, 247, 112);
}

.div4 {
    background-color: rgb(71, 121, 138);
}

.div5 {
    background-color: rgb(141, 217, 141);
}

.div6 {
    background-color: rgb(191, 142, 203);
}

.div1,
.div2,
.div3,
.div4,
.div5,
.div6 {
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide3 {
    display: flex;
    justify-content: center;
}

.slidearea3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding-bottom: 25px;
}

.header3 {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 15x;
}

.slide3 {
    height: 300;
}

.card31,
.card32,
.card33 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
    gap: 7px;
    height: 195x;
    width: 360px;
    border: solid rgb(188, 188, 188) 1px;
    border-radius: 8px;
}

.cards3 {
    height: 220px;
    display: flex;
    justify-content: space-around;
}

.card31:hover {
    box-shadow: 5px 5px rgb(194, 255, 153);
    border: solid rgb(238, 255, 200) 1.5px;
    background-color: rgb(237, 249, 229);
    transition: .15s ease-out;
    transform: scale(1.025);
}

.card32:hover {
    box-shadow: 5px 5px rgb(113, 148, 255);
    border: solid rgb(113, 148, 255) 1.5px;
    background-color: rgb(233, 231, 255);
    transition: .15s ease-out;
    transform: scale(1.025);
}

.card33:hover {
    box-shadow: 5px 5px rgb(255, 159, 159);
    border: solid rgb(255, 159, 159) 1.5px;
    background-color: rgb(252, 231, 231);
    transition: .15s ease-out;
    transform: scale(1.025);
}

.slide4 {
    padding-top: 45px;
    height: 350px;
    display: flex;
    justify-content: center;
}

.slidearea4 {
    border-radius: 6px;
    width: 65%;
    display: flex;
    background-color: rgb(242, 242, 242);
}

.img4 img {
    height: 100%;
    width: 480px;
    border-radius: 6px 0px 0px 6px;
}

#cardtext p {
    text-align: center;
    font-weight: 300;
    font-size: medium;
}

.heading4 h1 {
    color: rgb(82, 49, 182);
}

.content4 {
    gap: 8px;
    padding-left: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
}

.privacy h5 {
    font-weight: 300;
}

.main5 {
    display: flex;
    justify-content: center;
}

.registermail {
    display: flex;
}

.slide5 {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 350px;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.content15 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}

.slidearea15 {
    height: 90%;
    display: flex;
}

.aboutimg img {
    padding-top: 5px;
    height: 45px;
}

.left35 {
    justify-content: space-between;
    display: flex;
    padding-right: 120px;
}

.left35 img {
    height: 25px;
}

.slidearea25 {
    display: flex;
    justify-content: center;
}

.content25 {
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
}

.row15 {
    padding: 30px;
    margin: 10px;
}

.row15 ul {
    font-weight: 300;
}

#about2 {
    font-weight: 400;
    text-align: center;
}

.slidearea25 {
    border-top: dotted black;
    padding-top: 10px;
}

#grids:hover {
    background-color: grey;
    transition: .15s ease-in;
    transform: scale(.95);
}

.hover-underline {
    font-size: 1.5rem;
    position: relative;
    display: inline-block;
}

.hover-underline::after,
.hover-underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ff0000, #00ffff);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

.hover-underline::before {
    top: -5px;
    transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
    transform: scaleX(1);
}

html {
    scroll-behavior: smooth;
}

.social {
    padding-bottom: 20px;
}